/Práctica 2.2/nbproject/private/
/Práctica 2.2/build/
/Práctica 2.4/nbproject/private/
/Práctica 2.4/build/
/Práctica 4.1/ClienteG/nbproject/private/
/Práctica 4.1/build/
/Práctica 4.1/ClienteG/build/
/Práctica 4.1/ServidorG/nbproject/private/
/Práctica 4.1/ClienteG/dist/
/Práctica 4.1/ServidorG/build/
/Práctica 4.1/Ejercicio 2/ServidorG2/nbproject/private/
/Práctica 4.1/Ejercicio 2/ServidorG2/build/
/Práctica 4.1/Ejercicio 1/ClienteG/dist/
/Práctica 2.4 b/build/
/Práctica 4.2/ChatServer/nbproject/private/
/Práctica 4.2/ChatServer/build/
/Práctica 4.2/ClienteChat/build/
/Práctica 4.2/ClienteChat/dist/
/Práctica 4.2/ChatClient/nbproject/private/
/Práctica 4.2/ChatClient/build/
/Práctica 4.2/ClienteC/build/