/Práctica 2.2/nbproject/private/
/Práctica 2.2/build/
/Práctica 2.4/nbproject/private/
/Práctica 2.4/build/
/Práctica 4.1/ClienteG/nbproject/private/
/Práctica 4.1/build/
/Práctica 4.1/ClienteG/build/
/Práctica 4.1/ServidorG/nbproject/private/